<!DOCTYPE html>
<html>
<head>
  <title>Simple Invoicing - Built with AngularJS</title>
  <meta charset='utf-8'>
  <meta name="description" content="AngularJS and Angular Code Example for creating Invoices and Invoicing Application">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
</head>
<body ng-app="invoicing" ng-controller="InvoiceCtrl" >
  <div class="container" width="800px" id="invoice" >
    <div class="row">
      <div class="col-xs-12 heading">
        INVOICE
      </div>
    </div>
    <div class="row branding">
      <div class="col-xs-6">
        <div class="invoice-number-container">
          <label for="invoice-number">Invoice #</label><input type="text" id="invoice-number" ng-model="invoice.invoice_number" />
        </div>
      </div>
      <div class="col-xs-6 logo-container">
        <logo-component print-mode="printMode"></logo-component>
      </div>
    </div>
    <infotable-component 
      invoice="invoice" 
      print-mode="printMode" 
      currency-symbol="currencySymbol"></infotable-component>
    <productstable-component 
      invoice="invoice" 
      print-mode="printMode" 
      currency-symbol="currencySymbol"></productstable-component>
    <div class="row noPrint actions">
      <printbutton-component print-mode="printMode"></printbutton-component>
      <resetbutton-component></resetbutton-component>
      <a href="#" class="btn btn-primary" ng-hide="printMode" ng-click="printMode = true;">Turn On Print Mode</a>
      <a href="#" class="btn btn-primary" ng-show="printMode" ng-click="printMode = false;">Turn Off Print Mode</a>
    </div>
  </div>

  <footer-component print-mode="printMode"></footer-component>
</body>
</html>
